@(title: String, header: Html, sidebar: Html)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("bootstrap-3.3.5-dist/css/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/ball.png")">
        <script src="@routes.Assets.versioned("bootstrap-3.3.5-dist/js/bootstrap.min.css")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/jquery-1.11.3.min.js")" type="text/javascript"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    </head>
    <body class="mainBody">
	    
	    @*******************************
	   	* Insert Header Navigation Bar *
	   	*******************************@
	    
	    <section class="header">@header</section>
	    
	    @*****************************
	   	* Insert Side Navigation Bar *
	   	*****************************@
	    
    	<section class="sidebar">@sidebar</section>
    
    	@**********************
	   	* Insert Main Content *
	   	**********************@

		<div class="container-fluid">
	   		<div class="row">
            	<section class="content">@content</section>
        	</div>
    	</div>
    </body>
</html>